<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <li class="list-group-item active bg-secondary"><a href="">Overview</a></li>
                <li class="list-group-item"><a href="/teams/<%= team._id %>/plan">Shift Plan</a></li>
                <li class="list-group-item"><a href="">Holidays</a></li>
            </div>
        </div>
        <div class="col-md-9">
    <div class="d-flex justify-content-end">
        <% if(currentUser && currentUser.isAdmin){ %>
        <a class="btn btn-sm btn-info" href="/teams/<%= team._id %>/edit">Edit Team</a>
        <form action="/teams/<%= team._id %>?_method=DELETE" method="POST">
            <button class="btn btn-sm btn-danger">Delete Team</button>
        </form>
        <% } %>
    </div>
    <div class="card">
        <h4 class="card-title"><a href="#"><%= team.country %></a></h4>
        <p class="card-text">Teamlead: <%= team.teamlead %></p>
        <p class="card-text">Country Code: <%= team.countrycode %></p>
    </div>
    <div class="card bg-light p-3">
        <% team.members.forEach(function(member) { %>
            <div class="row">
                <div class="col-md-12">
                    <strong><%= member.firstname %> <%= member.lastname %></strong>
                    <span class="float-right"><%= member.hoursperweek %>h/week</span>
                    <p><%= member.position %></p>
                    <% if(currentUser && currentUser.isAdmin){ %>
                    <form class="float-right" action="/teams/<%= team._id %>/members/<%= member._id %>?_method=DELETE" method="POST">
                        <input class="btn btn-sm btn-danger" type="submit" value="Delete Member">
                    </form>
                    <a href="/teams/<%= team._id %>/members/<%= member._id %>/edit" class="btn btn-sm btn-info float-right mb-3">Edit Member</a>
                    <% } %>
                </div>
            </div>
            <hr>
        <% }); %>
        <% if(currentUser && currentUser.isAdmin){ %>
        <a class="btn btn-sm btn-warning d-inline float-right" href="/teams/<%= team._id %>/members/new">Add a new team member</a>
        <% } %>
    </div>
</div>
<div class="container">
        <h1>Shift Plan</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <% dates.forEach(function(date) { %>
                        <th scope="col"><%= days[date.getDay()] %>
                        </th>
                        <% }); %>
                    </tr>
                </thead>
                <thead class="thead-light">
                    <tr>
                        <th></th>
                        <% dates.forEach(function(day) { %>
                        <th scope="col"><%= day.getDate() %></th>
                        <% }); %>
                    </tr>
                </thead>
                <tbody>
                    <% team.members.forEach(function(member) { %>
                    <tr>
                        <td scope="row"><%= member.firstname %> <%= member.lastname %></td>
                        <% dates.forEach(function(day) { %>
                        <td></td>
                        <% }); %>
                    </tr>
                    <% }); %>
                </tbody>
            </table>


<% include ../partials/footer %>