<% include ../partials/header %>
    <h1>Shift Plan</h1>
    <a class="btn btn-outline-dark btn-sm mb-3" href="/teams/<%= team._id %>/plan">Back</a>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <% plan.dates.forEach(function(date) { %>
                    <th scope="col"><%= plan.days[date.getDay()] %></th>
                <% }); %>
            </tr>
        </thead>
        <thead class="thead-light">
            <tr>
                <th></th>
                <% plan.dates.forEach(function(day) { %>
                    <th scope="col"><%= day.getDate() %></th>
                <% }); %>
            </tr>
        </thead>
        <tbody>
            <form action="/teams/<%= team._id %>/plan/<%= plan._id %>?_method=PUT" method="POST">
                <% plan.memberPlans.forEach(function(memberPlan) { %> 
                    <% team.members.forEach(function(member){ %>
                        <% if(member.id == memberPlan.id){ %>
                            <tr>
                            <td scope="row"><%= member.lastname %></td>
                            <% for( var i = 0; i < plan.dates.length; i++) { %>
                                <% if(member.hoursperweek > 32){ %>
                                    <td class="shift">
                                        <div class="input-group input-group-lg flex-nowrap shift">
                                            <select name="shift" class="" id="inputGroupSelect01">
                                                <option selected class="shift"><%= memberPlan.shift[i] %></option>
                                                <option class="off" value="0">Off</option>
                                                <option class="early" value="1">Early</option>
                                                <option class="late" value="2">Late</option>
                                                <option class="special" value="3">Special</option>
                                                <option class="teamleadShift" value="5">TL Shift</option>
                                            </select>
                                        </div>
                                    </td>   
                                <% } else { %>
                                    <td class="part-time_shifts">
                                        <div class="input-group input-group-lg flex-nowrap shift">
                                            <select name="shift" class="" id="inputGroupSelect01">
                                                <option selected><%= memberPlan.shift[i] %></option>
                                                <option class="early" value="1">Early</option>
                                                <option class="late" value="2">Late</option>
                                                <option class="special" value="3">Special</option>
                                            </select>
                                        </div>
                                    </td>   
                                <% } %>
                            <% } %> 
                            </tr>
                        <% } %>
                    <% }); %>
                <% }); %> 
                <button class="btn-sm btn-primary btn-block">Submit!</button>
            </form>
        </tbody>      
    </table>
<% include ../partials/footer %>