<% include ../partials/header %>

<header class="jumbotron">
    <div class="container">
        <h1>Shift Plans</h1>
        <p>
            
            <a class="btn btn-outline-dark btn-lg" href="/teams/<%= team._id %>/plan/new">Create a new Shift Plan</a>
            
        </p>
    </div>
</header>

<div class="container d-flex justify-content-left flex-wrap">
    <% team.plans.forEach(function(plan){ %>
        <div class="card" style="max-width: 20vw; border: none">
            <div class="card-body">
                <h5 class="card-title"><a href="/teams/<%= team._id %>/plan/<%= plan._id %>" class="text-dark bg-warning"><%= plan.year %>-<%= plan.month %></a></h5>
            </div>
        </div>
    <% }) %>
</div>

<% include ../partials/footer %>