<% include ../partials/header %>

<header class="jumbotron">
    <div class="container">
        <a class="btn btn-outline-dark btn-sm mb-3" href="/teams/<%= team._id %>">Back</a>
        <h1>Shift Plans</h1>
        <p>
            
            <a class="btn btn-outline-dark btn-lg" href="/teams/<%= team._id %>/plan/new">Create a new Shift Plan</a>
            
        </p>
    </div>
</header>

<div class="container d-flex justify-content-left flex-wrap">
    <% team.plans.forEach(function(plan){ %>
        <div class="m-3">
            <a class="btn btn-warning btn-lg" href="/teams/<%= team._id %>/plan/<%= plan._id %>"><%= plan.year %>-<%= plan.month + 1%></a>
        </div>
    <% }) %>
</div>

<% include ../partials/footer %>