<% include ../partials/header %>
    <h1>Shift Plan</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <% plan.dates.forEach(function(date) { %>
                        <th scope="col"><%= plan.days[date.getDay()] %></th>
                    <% }); %>
                </tr>
            </thead>
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <% plan.dates.forEach(function(day) { %>
                        <th scope="col"><%= day.getDate() %></th>
                    <% }); %>
                </tr>
            </thead>
            <tbody>
                <% team.members.forEach(function(member) { %>
                    <% if (member.position === "Teamlead") { %>
                        <tr>
                        <td scope="row"><%= member.lastname %></td>
                        <% for( var i = plan.firstDayOfMonth; i < plan.dates.length + plan.firstDayOfMonth; i++) { %>
                            <td class="shifts"><%= plan.monthA0[i] %></td>
                        <% } %>
                        </tr>
                    <% } else if (member.position === "Freelance Editor") { %>
                        <tr>
                        <td scope="row"><%= member.lastname %></td>
                        <% for( var i = plan.firstDayOfMonth; i < plan.dates.length + plan.firstDayOfMonth; i++) { %>
                            <td class="shifts">0</td>
                        <% } %>
                        </tr>
                    <% } %>
                <% }); %>

                <% var editors = []; %>
                <% team.members.forEach(function(member) { %>
                    <% if(member.isEditor) { %>
                        <% editors.push(member); %>
                    <% } %>
                <% }) %>
                <% editors.forEach(function(editor, index){ %>
                    <% if (index === 0 || index === 4){ %>
                        <tr>
                        <td scope="row"><%= editor.lastname %></td>
                        <% var shiftPlan = [] %>
                        <% for( var i = plan.firstDayOfMonth; i < plan.dates.length + plan.firstDayOfMonth; i++) { %>
                            <% shiftPlan.push(plan.monthA1[i]); %>
                            <td class="shifts"><%= plan.monthA1[i] %></td>
                        <% } %>
                        </tr>   
                    <% } else if (index === 1 || index === 5){ %>
                        <tr>
                        <td scope="row"><%= editor.lastname %></td>
                        <% for( var i = plan.firstDayOfMonth; i < plan.dates.length + plan.firstDayOfMonth; i++) { %>
                            <td class="shifts"><%= plan.monthB1[i] %></td>
                        <% } %>
                        </tr>   
                    <% } else if (index === 2 || index === 6){ %>
                        <tr>
                        <td scope="row"><%= editor.lastname %></td>
                        <% for( var i = plan.firstDayOfMonth; i < plan.dates.length + plan.firstDayOfMonth; i++) { %>
                            <td class="shifts"><%= plan.monthA2[i] %></td>
                        <% } %>
                        </tr>   
                    <% } else if (index === 3 || index === 7){ %>
                        <tr>
                        <td scope="row"><%= editor.lastname %></td>
                        <% for( var i = plan.firstDayOfMonth; i < plan.dates.length + plan.firstDayOfMonth; i++) { %>
                            <td class="shifts"><%= plan.monthB2[i] %></td>
                        <% } %>
                        </tr>   
                    <% } %>
                <% }) %>
            </tbody>
        </table>
<% include ../partials/footer %>